<%  layout("/layout/boilerplate")%>

<body>
    <h1>hello</h1><% layout("/layout/boilerplate") %>
    <body>
        <div class="bg-red-700">
            <div>
            </div>
        </div>
        <h3>Add Question</h3>
        <form action="/tests/question" method="post">
            <label for="question">Question</label>
            <input type="text" name="question" required>
            <br>
            <label for="correctAnswer">Correct Answer</label>
            <input type="text" name="correctAnswer" required>
            <br>
            <label for="option">Other Option</label>
            <input type="text" name="options" required>
            <br>
            <label for="option">Other Option</label>
            <input type="text" name="options" required>
            <br>
            <label for="option">Other Option</label>
            <input type="text" name="options" required>
            <br>
            <button>Add Question</button>
        </form>
    </body>
    
</body>