<% layout("/layout/boilerplate") %>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Plan in seconds, not weekends</h1>
        <div class="mt-3">
            <a href="" class="btn btn-primary btn-lg text-start me-3">Teachers <i class="fa-solid fa-angle-right ms-5"></i><br>Signup for free</a>
            <a href="" class="btn btn-primary btn-lg text-start">Student <i class="fa-solid fa-angle-right ms-5"></i><br>Signup for free</a>
        </div>
    </div>
</body>