<% layout("/layout/boilerplate") %>

<body>
    <form action="/test/question" method="post">
        <label for="question">Your Question <%= "helloworld"%></label>
        <input type="text" name="question">
        <br>
        <label for="correctAnswer">Correct Answer</label>
        <input type="text" name="correctAnswer">
        <br>
        <label for="option">Other Option</label>
        <input type="text" name="option">
        <br>
        <label for="option">Other Option</label>
        <input type="text" name="option">
        <br>
        <label for="option">Other Option</label>
        <input type="text" name="option">
        <br>
        <button>Add Question</button>
    </form>
</body>


