<% layout("/layout/boilerplate")%>

<body>
    <form action="/tests" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Test Name</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input class="form-control" type="date" id="date" name="date"  value="2024-03-01" max="2024-12-31" required />
        </div>

        <div class="mb-3">
            <label class="form-label" for="liveAt">Time</label>
            <input type="time" id="testTime" class="form-control" name="date" value="00:00" required>
        </div>
        <button class="btn btn-primary" type="submit">Add Test</button>
    </form>
</body>

<script>
        let date = document.querySelector("#date");
        let todayDate = new Date();
        let tMonth = todayDate.getMonth()+1;
        let tDate = todayDate.getDate();
        let tMinute = todayDate.getMinutes();
        let tHour = todayDate.getHours();


        if(tMonth<10){
            tMonth = "0"+tMonth;
        }
        if(tDate<10){
            tDate = "0"+tDate;
        }
        if(tMinute<10){
            tMinute = "0"+tMinute;
        }
        if(tHour<10){
            tHour = "0"+tHour;
        }
        let today = `${todayDate.getFullYear()}-${tMonth}-${tDate}`;
        console.log(today);
        date.setAttribute('min',today);
        date.setAttribute('value',today);
        let testTime = document.querySelector("#testTime");
        testTime.setAttribute('min',`${tHour}:${tMinute}`);
        console.log(`${tHour}:${tMinute}`)
        date.addEventListener("change",()=>{
            console.log("Updated");
            console.log(date.value);
            if(date.value == today){
                console.log("yes its' equal");
                testTime.setAttribute('min',`${tHour}:${tMinute}`);
            }else{
                testTime.setAttribute('min',"");
            }
        })
</script>